<%= simple_form_for(@board) do |f| %>
  <div class="form-inputs">
  	<table>
  	  <tr>
  	    <td>Name</td>
        <td>
          <%= f.text_field :name %>
          <span style="color:red"><%= f.error :name, :id => 'name_error' %></span>
        </td>
  	  </tr>
  	  <tr>
  	    <td>Description</td>
  	    <td><%= f.text_field :description %></td>
  	  </tr>
  	  <tr>
  	    <td>Default poster name</td>
  	    <td><%= f.text_field :postername_default %></td>
  	  </tr>
  	  <tr>
  	    <td>Threads per page</td>
  	    <td><%= f.number_field :perpage %></td>
  	  </tr>
  	  <tr>
  	    <td>Max threads</td>
  	    <td><%= f.number_field :maxthrds %></td>
  	  </tr>
      <tr>
        <td>Max file size</td>
        <td><%= f.text_field :maxfilesize %></td>
      </tr>
  	</table>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
