<!DOCTYPE html>
<html>
<head>
  <title>Miniboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <h1>Hello, <%= current_user.username%>!</h1>
  <% end %>
<%= yield %>

</body>
</html>
