<!DOCTYPE html>
<html>
<head>
  <title><%= @board.name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    board = ImageBoard.get('<%= @board.name %>', <%= @thrd ? "'#{@thrd.number}'" : 'undefined' %>)
    board.init()
  </script>
</head>
<body>

<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" class="maintable">
  <tbody>
    <tr><td>
  <%= yield %>
</table>

</body>
</html>
